<p>login works!</p>

<div id="loginContainer" class="">
  <h4>sign in</h4>
  <button class="btn btn-outline-danger form-control mb-2 redirect-button">
    <i class="bi bi-google me-2"> </i>
    sing in with <span class="brandName">GOOGLE</span>
  </button>

  <button class="btn btn-outline-primary form-control mb-2 redirect-button">
    <i class="bi bi-facebook me-2"></i>
    sing in with <span class="brandName">FACEBOOK</span>
  </button>

  <div class="separator mb-2">or</div>
  <form>
    <input
      id="email"
      class="form-control mb-2"
      type="text"
      placeholder="email"
    />
    <input
      id="password"
      class="form-control mb-2"
      type="password"
      placeholder="password"
    />

    <button class="btn btn-outline-success form-control mb-2">login</button>
    <button class="btn btn-outline-warning form-control mb-2">register</button>
  </form>
</div>
